.education {
  grid-column: 1/3;
  grid-row: 2/4;
}
.education .expertise-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 1.6rem;
}

.education .expertise {
  background: #ffffff;
  padding: 0.8rem;
  border-radius: 1rem;
}

.education .expertise:first-child {
  background: #00c853;
  color: white;
}

.education .expertise:first-child .tags span {
  color: #ebf9f2;
}

.education .years {
  font-weight: 500;
  margin-bottom: 0.6rem;
  position: relative;
}

.education .expertise:first-child .years::after {
  content: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTEgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yLjc1IDAuODA3MzczQzEuOTkzNzUgMC44MDczNzMgMS4zMiAxLjEyMzg4IDAuODExMjUgMS42MTkyOUMwLjMxNjI1IDIuMTE0NyAwIDIuNzg5MDEgMCAzLjU1OTY1QzAgNC4zMTY1MyAwLjMxNjI1IDQuOTkwODMgMC44MTEyNSA1LjVMNS41IDEwLjE5MjZMMTAuMTg4NyA1LjVDMTAuNjgzOCA1LjAwNDYgMTEgNC4zMzAyOSAxMSAzLjU1OTY1QzExIDIuODAyNzcgMTAuNjgzOCAyLjEyODQ3IDEwLjE4ODcgMS42MTkyOUM5LjY5Mzc1IDEuMTIzODggOS4wMiAwLjgwNzM3MyA4LjI1IDAuODA3MzczQzcuNDkzNzUgMC44MDczNzMgNi44MiAxLjEyMzg4IDYuMzExMjUgMS42MTkyOUM1LjgxNjI1IDIuMTE0NyA1LjUgMi43ODkwMSA1LjUgMy41NTk2NUM1LjUgMi44MDI3NyA1LjE4Mzc1IDIuMTI4NDcgNC42ODg3NSAxLjYxOTI5QzQuMTkzNzUgMS4xMjM4OCAzLjUyIDAuODA3MzczIDIuNzUgMC44MDczNzNaIiBmaWxsPSIjRjZFRDFFIi8+Cjwvc3ZnPgo=");
  float: right;
  width: 1.1rem;
  height: 1.1rem;
  margin-left: 0.6rem;
}

.education .position {
  font-weight: 500;
}

.education .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
}

.education .tags span {
  color: var(--color-text-accent);
  font-size: 0.8rem;
}

.education .institute {
  margin-top: 0.6rem;
  font-size: 0.8rem;
}

@media screen and (max-width: 836px) {
  .education {
    grid-column: 1/3;
    grid-row: auto;
  }
}
@media screen and (max-width: 400px) {
  .education .expertise-grid {
    grid-template-columns: 1fr;
  }
}
