.languages {
  grid-column: 3/5;
  justify-content: space-between;
}
.languages .language-grid {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem;
  align-items: center;
}

.languages .language {
  padding-right: 1rem;
  font-weight: 500;
}

.languages .bar {
  height: 1.1rem;
  position: relative;
}

.languages .fill {
  display: block;
  border-radius: 0.3rem;
  height: 100%;
  background: var(--color-accent);
}
